body{
  padding-top:70px;
}

#filtering_attributes{
  font-size: 120%;
  padding: 0 30px 30px 30px;
}
#filtering_attributes button{
  padding: 14px 22px;
}

#header{
  background: #556270;
  margin-bottom: 120px
}
#header a{
  color: #ffeeef;
}
#header a:hover{
  color: #ffffff;z
}
footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}
.modal-content{
  min-height: 400px;
  padding: 30px;
}
.chart{
  position: relative;
  top: 10px;
  left: 40px;
}



/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: block;
}
@media (min-width: 768px) {
  .sidebar {

    
    position: fixed;

    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 12px;

   width: 330px;

    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

#interactiveFiltersPanel{
  overflow-y: scroll;
  height: 100vh;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.thumb-chart{
  cursor: pointer;
}
.thumb-panel-body{
  
}
.panel-heading-right{
  float: right;
  display: inline;
  width: 100px;
  position: relative;
  top: -4px;
}
.panel-heading-right input{
  border: 1px solid #ccc;
  width: 25px;
  height: 25px;
  margin:  4px;
  float: left;
  padding: 1px;
  color: #aaa;
  font-size: 11px;
}
a.panel-reset {
  color: #333;
}
.panel-reset{
  float: right;
  margin-top: 2px;
}

.inactive{
  color: #333;
}
table#dataTable{

  overflow-x: scroll;
}
#dataTableNav{
  text-align: center;
}
#dataTableNav a{

  padding: 12px;
}
#activeRecords div{
  display: inline;

}
#activeRecords{
  float: right;
  font-size: 12px;
}

#main{
  padding: 15px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
#vis_wrapper{
  padding: 10px;
}
#vis_info, #vis_paginate{
  font-size: small;
}

#interactiveFiltersPanelSlider{

  float: right;
  margin: 4px;
  z-index: 10000;
  margin: 10px;
  margin-top: -29px;
}

#heat{
  margin: 0px 30px 0 0;
}

#imageGridPagination{
  padding: 20px;
}
#imageGridPagination .next{
  position: absolute;
  right: 20px ;
}
#imageGridPagination .prev{
}
/*React transitions*/
.imageGridImages-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.imageGridImages-enter.imageGridImages-enter-active {
  opacity: 1;
}

.chartAddons{
  margin: 2px;
//  float: right;
}
.chartAddons input{
  width: 40px;
  display: inline;
}


//React Modals


#OptionsBar button{
  float:right;
}